.typed-cursor {
  display: none;
}

.typing {
  &:after {
    content: '|';
    display: inline-block;
    animation: typedjsBlink 0.7s infinite;
    font-weight: 100;
  }
}

.typed-cursor {
  opacity: 1;
}

@keyframes typedjsBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hiding {
  100% {
    display: none;
  }
}


.ideas-section {
  padding-block: 27px;
}

.idea {
  .row {
    align-items: center;
  }

  &__text {
    @include col-sizing(50%);

    h2 {
      min-height: 2.56em;
      @extend %h1;
      opacity: 0;
      @include trns;

      &.typing, &.completed {
        .slick-current & {
          opacity: 1;
        }
      }
    }
  }

  &__media {
    max-width: 100%;
    @include col-sizing(50%);

    svg {
      --transf-distance: 30px;
      transform: translateY(var(--transf-distance));
      @include trns($duration: 0.6s);
      opacity: 0;

      .slick-active & {
        transform: translateY(0);
        opacity: 1;
        //animation: wobbleY .3s ease forwards;
      }

      path {
        //@include trns($duration: var(--anim-dur));
        &.mind-fill {
          --transf-distance: 100px;
          opacity: 0;
          transform: translateY(var(--transf-distance));
          //transform: translateY(40px);

          .slick-active & {
            //transform: translateY(0);
            //opacity: 1;
            animation: wobbleY var(--anim-dur) ease forwards .4s;
          }
        }

        &.square-back {
          opacity: 0.2;
          transform: rotateZ(-30deg);
          transform-origin: center center;
          @include trns($duration: 1s, $delay: .3s);

          .slick-active & {
            opacity: 1;
            transform: rotateZ(0);
          }
        }
      }
    }
  }
}

@keyframes wobbleY {
  0% {
    opacity: 0;
    transform: translateY(--transf-distance)
  }
  85% {
    transform: translateY(-10px)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

.top-reasons {
  --x-space: 20px;
  --cont-width: 1280px;
  padding-block: 30px 70px;

  &__head {
    text-align: center;
    margin-bottom: 50px;

    h4 {
      line-height: 1.4;
    }
  }
}

.reason {
  $p: &;
  width: 330px;
  position: relative;

  &__head {
    color: var(--primary-bg-color);
    position: relative;
    z-index: 20;
    width: 100%;
    aspect-ratio: 6 / 5;
    display: flex;
    padding: 30px;
    cursor: pointer;
    align-items: center;

    .icon {
      color: var(--primary-text-color);
    }

    h4 {
      margin: 0;
    }
  }

  &__content {
    background-color: var(--layout-color);
    color: var(--primary-bg-color);
    border-radius: 30px;
    padding: 53px 78px 53px 140%;
    position: absolute;
    top: 15%;
    left: 0;
    width: calc(var(--cont-width));
    overflow: hidden;
    transform: scale(0);
    transform-origin: 150px 50px;
    @include trns($duration: 0.5s);

    > * {
      opacity: 0;
      visibility: hidden;
      @include trns($duration: 0.1s);
    }

    .close {
      position: absolute;
      top: 25px;
      right: 25px;
      font-size: 32px;
      color: #fff;
    }
  }

  &__layout {
    pointer-events: none;
    position: absolute;
    inset: 0;

    .icon {
      &-fill, &-outline {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        @include trns;
        @include size(100%);
      }

      &-fill {
        color: var(--layout-color);
      }

      &-outline {
        color: #EBEBEB;
      }
    }
  }

  &--triangle {
    --layout-color: #B469FF;

    #{$p}__head {
      justify-content: flex-end;

      h4 {
        margin-top: 40px;
      }
    }

    .icon {
      &-outline {
        transform-origin: center;
        transform: rotate(4deg);
      }
    }

    &:hover, &#{$p}--active {
      .icon {
        &-outline {
          transform: rotate(-8deg) translateX(-11px) translateY(15px);
        }
      }
    }
  }

  &--circle {
    --layout-color: #FFC849;
    margin-top: 75px;

    #{$p}__head {
      justify-content: center;
      align-items: center;
    }

    .icon {
      &-outline {
        transform: translateX(-20px) translateY(10px);
      }
    }

    &:hover, &#{$p}--active {
      .icon {
        &-outline {
          transform: none;
        }
      }
    }
  }

  &--square {
    --layout-color: #F15526;
    margin-top: 35px;

    #{$p}__head {
      justify-content: center;
    }

    .icon {
      &-outline {
        transform: rotate(-4deg) translateX(-10px) translateY(5px);
      }
    }

    &:hover, &#{$p}--active {
      .icon {
        &-outline {
          transform: rotate(4deg) translateX(0) translateY(0);
        }
      }
    }
  }

  &--active {
    z-index: 30;

    #{$p}__head {
      h4 {
        .icon {
          opacity: 0;
          pointer-events: none;
        }
      }

      .icon-fill {
        color: transparent;
      }
    }

    #{$p}__content {
      transform: scale(1);

      > * {
        transition-delay: .3s;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.reasons-list {
  justify-content: space-between;
  flex-wrap: nowrap;

  &__item {
    max-width: 33.3333%;
    @include trns($duration: .6s);
  }

  &.reason-list--active {
    justify-content: flex-start;

    .reason {
      &:not(.reason--active) {
        display: none;
      }

      &--circle {
        margin-top: 0;
      }
    }

    > * {
      padding: 0;
    }
  }
}

.steps-section {
  --col_space: 100px;
  padding-block: var(--section-y-space);

  &__intro, &__body {
    @include col-sizing(100%);
  }

  &__intro {
    text-align: center;

    h2 {
      @extend %h1;
      line-height: 1.13;
      margin-bottom: 24px;
    }
  }

  &__body {
    position: relative;
    padding-block: 35px;

    .section-shape-effect {
      position: absolute;
      z-index: -1;
      pointer-events: none;
      top: 0;
      left: 0;
    }
  }
}

.steps-list {
  counter-reset: ordList;

  .slick-dots {
    position: absolute;
    left: calc(-1 * var(--col_space) - 2px);
    top: -35px;
    flex-direction: column;
    @include size(3px, calc(100% + 70px));

    > li {
      flex-grow: 1;
      background-color: var(--second-color);
      margin: 0;
      width: 100%;

      > button {
        background: transparent;
        @include size(100%);
      }

      &.slick-active ~ li {
        background-color: transparent;
      }
    }
  }
}

.step {
  counter-increment: ordList;
  --col_space: 100px;
  padding-block: var(--section-y-space);

  &:nth-child(2n + 2) {
    .row {
      flex-direction: row-reverse;
    }
  }

  &__title {
    margin-bottom: 40px;
    display: flex;
    align-items: baseline;

    &:before {
      content: counter(ordList);
      color: var(--primary-color);
      margin-right: -30px;
      flex: 0 0 52px;
      font: {
        size: 96px;
        weight: 800;
      };
      line-height: 1;
    }
  }

  &__img__block, &__body {
    @include col-sizing(50%);
  }

  &__body {
    padding-right: 30px;

    ul {
      padding-left: 1.2em;
      margin: 0;

      li {
        &:not(:last-child) {
          margin-bottom: 35px;
        }

        &::marker {
          color: var(--second-color);
        }
      }
    }
  }
}

.works-section {
  padding-block: var(--section-y-space);

  &__head {
    text-align: center;
    margin-bottom: 60px;

    h2 {
      margin-bottom: 20px;
    }
  }
}

.work {
  margin-bottom: 10vw;
  display: block;
  position: relative;

  &__image {
    display: flex;

    > picture {
      border-radius: 20px;
      position: relative;
      z-index: 5;
      display: block;

      &:before {
        background-color: var(--primary-color);
        border-radius: 20px;
        top: 60px;
        left: 60px;
        @include size(100%);
        @include pseudo;
      }

      + picture:before {
        top: -60px;
      }
    }

    > * {
      border-radius: 20px;
      @include col-sizing(60%);

      + * {
        box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.19);
        margin-left: -20%;
        transform: translateY(50%);

        img, source {
          z-index: 30;
        }
      }
    }

    img, source {
      border-radius: 20px;
      position: relative;
      z-index: 20;
    }
  }

  &__illusion {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-30%);
    z-index: 30;
  }
}

.staff-section {
  padding-block: var(--section-y-space);
  position: relative;

  > * {
    position: relative;
    z-index: 10;
  }

  &:before {
    width: 120vw;
    pointer-events: none;
    content: '';
    aspect-ratio: 4 / 1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 41.53%, rgba(0, 0, 0, 0.20) 75.64%);
    top: 40%;
    border-radius: 50%;
    @include center(x);
  }

  &__head {
    text-align: center;
    margin-bottom: 60px;

    h2 {
      margin-bottom: 24px;
    }
  }
}


.staff {
  width: 410px;
  text-align: center;
  transition: all .3s;

  &__img {
    text-align: center;
    margin-bottom: 52px;
    position: relative;
    width: 410px;
    height: 290px;
    .user__vector {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      z-index: 1;
      object-fit: contain;
      transition: all 0.4s;
      transform: scale(0);
    }
    .staff__avatar{
      position: relative;
      z-index: 2;
      width: 277px !important;
      margin: auto;
      display: block;
      height: 291px;
      object-fit: cover;
      object-position: top center;
    }

    .smallYelBg{
      width: 71px !important;
      height: 69px;
      left: 0;
      bottom: 80px;
    }

    .smallBlueBg{
      width: 45px !important;
      height: 52px;
      bottom: 0;
      left: 50px;
    }
    .smallYel{
      width: 71px !important;
      height: 69px;
      bottom: 30px;
      right: -20px;
    }
    .smallBlue{
      width: 85px !important;
      height: 86px;
      right: -20px;
      top: 0;
    }
    .big{
      width: 277px !important;
      height: 291px;
      right: 0;
      bottom: 0;
      top: 0;
      left: 0;
      margin: auto;
    }

  }

  &__name {
    font: {
      size: 24px;
      weight: 800;
    };
  }

  &__position {
    font-size: 16px;
  }

  &__top-skills {
    @include flexbox(normal, space-between);

    > li {
      &::marker {
        color: var(--primary-color);
      }
    }
  }
}

.contact-section {
  position: relative;
  padding-block: 98px 85px;

  &:before {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 16.19%, rgba(0, 0, 0, 0.20) 82.59%);
    border-radius: 100px 100px 0 0;
    inset: 0;
    @include pseudo;
  }

  .container {
    position: relative;
    z-index: 10;
  }

  &__form {
    @include col-sizing(45%);

    h2 {
      @extend %h1;
      margin-bottom: 42px;
    }
  }

  &__media {
    align-self: center;
    @include col-sizing(55%);
  }
}

.staff__details {
  opacity: 0;
  visibility: hidden;

}


.staff-slider {

  &.owl-carousel {

    .owl-item {
      position: relative;
      transform: scale(0.6);
      transition: all .2s;
      z-index: 1;

      &.big {
        transform: scale(1);
        z-index: 3;
      }

      &.medium {
        transform: scale(0.8);
        z-index: 2;
        opacity: 0.8;
      }

      &.smallRight {
        &.active {
          transform: scale(0.6);
          position: relative;
          opacity: 0.6;
        }
      }

      &.smallLeft {
        &.active {
          transform: scale(0.6);
          position: relative;
          opacity: 0.6;
        }
      }

      &.big.active.center {
        .staff__details {
          opacity: 1;
          visibility: visible;
        }

        .user__vector {
          visibility: visible;
          opacity: 1;
          transform: scale(1);
        }

        .staff__avatar {
          clip-path: polygon(0 0, 100% 0, 100% 106%, 0 58%);
        }
      }
    }

    .owl-stage-outer {
      padding-bottom: 10px;
    }
  }
}
.close__mobile.close{
  display: none;
}

